body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    color: #555;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8623bf;
    background-color: #fff;
    border: 1px solid #8623bf;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #8623bf;
    color: #fff;
}

a:active {
    transform: translateY(1px);
}

@media (max-width: 480px) {
    .container {
        max-width: 90%;
    }
}
